// main: style.less

// place for mixins 
// mixins as property named in camelCase

// grid mixins
.row {
    display: flex;
    flex-wrap: wrap;
    margin: -@gutter-y (@gutter-x * -.5) 0 (@gutter-x * -.5);
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding: 0 (@gutter-x * .5);
    margin-top: @gutter-y;
}

.calculate-cols(@cols-quantity, @i: 1) when (@i <=@cols-quantity) {
    .col-@{i}-@{cols-quantity} {
        flex: 1 0 auto;
        width: calc(@i * 100%/ @cols-quantity);
    }

    .calculate-cols(@cols-quantity, @i + 1);
}

.calculate-cols(12);

// text mixins
.textBasePreset() {
    font-family: 'Mulish', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: @c-black;
}

.textRegular() {
    .textBasePreset();
    font-weight: 400;
}

.textMedium() {
    .textBasePreset();
    font-weight: 500;
}

.textBold() {
    .textBasePreset();
    font-weight: 700;
}
.iconsRegular(){
    font-size: 2.5rem;
}

.hoverTextColor(@color){
    &:hover{
        color: @color;
    }
}