// main: ../style.less

.btn {
    .textRegular;
    text-decoration: none;
    cursor: pointer;
    background: none;
    border: none;

    padding: .5em 2em;
    background-color: @c-turquoise;
    color: @c-light;
    border-radius: 2em;
    transition: background-color .1s linear;

    &:hover, &:focus {
        outline: none;
        background-color: @c-gray;
    }
}