// main: ../style.less
.nav {
    &__toggler {
        position: relative;
        padding: .5em 2em .5em calc(~"2em + 28px");
        span {
            position: absolute;
            left: calc(~"1em + 15px");
            top: 50%;
            z-index: 1;
            display: block;
            width: 18px;
            height: 2px;
            background-color: @c-light;

            &::before,
            &::after {
                content: " ";
                display: block;
                width: 18px;
                height: 2px;
                background-color: @c-light;
                z-index: 1;
            }

            &::before {
                position: absolute;
                left: 0;
                top: -6px;
            }

            &::after {
                position: absolute;
                left: 0;
                bottom: -6px;
            }
        }
    }
}