// main: ../style.less

.top-bar{
    &__inner{
        padding: 2em 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0  @gutter-x * -.75;
        &>*{
            margin: 0 @gutter-x * .75;
        }
    }
    &__logo{
        .textBold();
        font-weight: 900;
        color: @c-turquoise;
        font-size: 3rem;
        text-decoration: none;

        display: inline-block;
        position: relative;
        transition: color .1s linear;
        span{
            color: @c-light;
        }
        &::after{
            content: "";
            display: block;
            height: 2em;
            width: 2em;
            background-color: @c-red;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            border-radius: 1em;
            transform: translate(-.2em, -.25em);
            transition: width .2s linear;
        }
        &:hover, &:focus{
            outline: none;
            color: @c-light;
            &::after{
                width: calc(~"100% + .5em");
            }
        }
    }
    &__form{
        width: 100%;
        position: relative;
        &:hover{
            input{
                border-color: @c-gray;
            }
            label{
                color: @c-gray;
            }
        }
        input{
            @padding-y: calc(~".5em - 1px");
            width: 100%;
            .textRegular;
            padding: @padding-y 2em @padding-y 3em;
            border-radius: 2em;
            border: 1px solid @c-turquoise;
            transition: border-color .1s linear;
            &:focus{
                outline: none;
                border-color: @c-gray;
                & + label{
                    color: @c-gray;
                }
            }
        }
        label{
            .textBasePreset;
            position: absolute;
            cursor: text;
            top: 50%;
            left: 1.5em;
            transform: translateY(-50%);
            color: @c-turquoise;
            transition: color .1s linear;
        }
    }
    &__phone{
        .textBasePreset;
        display: flex;
        align-items: center;
        text-decoration: none;
        i{
            .iconsRegular;
            // margin-right: .5em;
            color: @c-turquoise;
            transition: color .1s linear;
        }
        &:hover, &:focus{
            outline: none;
            i{
                color: @c-gray;
            }
        }
    }
    &__controls{
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{
            position: relative;

            .textBasePreset;
            .iconsRegular;
            color: @c-turquoise;
            margin-left: 1em;
            transition: color .1s linear;
            &:first-child{
                margin-left: 0;
            }
            &:hover, &:focus{
                outline: none;
                color: @c-gray;
            }
            &::after{
                content: "3";
                display: block;
                position: absolute;
                z-index: 1;
                top: -.75em;
                right: -1em;
    
                padding: .1em .5em;
                font-size: 1.2rem;
                text-align: center;
                border-radius: 1.7em;
                color: @c-light;
                background-color: @c-turquoise;
            }
        }
    }
    // &__shoping-cart{
    //     position: relative;
    //     &::after{
    //         content: "3";
    //         display: block;
    //         position: absolute;
    //         top: -.75em;
    //         right: -1em;

    //         padding: .1em .5em;
    //         font-size: 1.2rem;
    //         text-align: center;
    //         border-radius: 1.7em;
    //         color: @c-light;
    //         background-color: @c-turquoise;
    //     }
    // }
}