*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
  line-height: 1;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: -30px -15px 0 -15px;
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding: 0 15px;
  margin-top: 30px;
}
.col-1-12 {
  flex: 1 0 auto;
  width: calc(1 * 100%/12);
}
.col-2-12 {
  flex: 1 0 auto;
  width: calc(2 * 100%/12);
}
.col-3-12 {
  flex: 1 0 auto;
  width: calc(3 * 100%/12);
}
.col-4-12 {
  flex: 1 0 auto;
  width: calc(4 * 100%/12);
}
.col-5-12 {
  flex: 1 0 auto;
  width: calc(5 * 100%/12);
}
.col-6-12 {
  flex: 1 0 auto;
  width: calc(6 * 100%/12);
}
.col-7-12 {
  flex: 1 0 auto;
  width: calc(7 * 100%/12);
}
.col-8-12 {
  flex: 1 0 auto;
  width: calc(8 * 100%/12);
}
.col-9-12 {
  flex: 1 0 auto;
  width: calc(9 * 100%/12);
}
.col-10-12 {
  flex: 1 0 auto;
  width: calc(10 * 100%/12);
}
.col-11-12 {
  flex: 1 0 auto;
  width: calc(11 * 100%/12);
}
.col-12-12 {
  flex: 1 0 auto;
  width: calc(12 * 100%/12);
}
.btn {
  font-family: 'Mulish', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #393535;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0.5em 2em;
  background-color: #81ada7;
  color: #f0fdfa;
  border-radius: 2em;
  transition: background-color 0.1s linear;
}
.btn:hover,
.btn:focus {
  outline: none;
  background-color: #787272;
}
.top-bar > .container {
  position: relative;
}
.top-bar__inner {
  padding: 2em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -22.5px;
}
.top-bar__inner > * {
  margin: 0 22.5px;
}
.top-bar__logo {
  font-family: 'Mulish', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #393535;
  font-weight: 700;
  font-weight: 900;
  color: #81ada7;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  position: relative;
  transition: color 0.1s linear;
}
.top-bar__logo span {
  color: #f0fdfa;
}
.top-bar__logo::after {
  content: "";
  display: block;
  height: 2em;
  width: 2em;
  background-color: #d95656;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  border-radius: 1em;
  transform: translate(-0.2em, -0.25em);
  transition: width 0.2s linear;
}
.top-bar__logo:hover,
.top-bar__logo:focus {
  outline: none;
  color: #f0fdfa;
}
.top-bar__logo:hover::after,
.top-bar__logo:focus::after {
  width: calc(100% + .5em);
}
.top-bar__form {
  width: 100%;
  position: relative;
}
.top-bar__form:hover input {
  border-color: #787272;
}
.top-bar__form:hover label {
  color: #787272;
}
.top-bar__form input {
  width: 100%;
  font-family: 'Mulish', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #393535;
  font-weight: 400;
  padding: calc(.5em - 1px) 2em calc(.5em - 1px) 3em;
  border-radius: 2em;
  border: 1px solid #81ada7;
  transition: border-color 0.1s linear;
}
.top-bar__form input::-webkit-input-placeholder {
  font-family: 'Mulish', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #393535;
  font-weight: 400;
  color: #d5d7d9;
}
.top-bar__form input::-moz-placeholder {
  font-family: 'Mulish', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #393535;
  font-weight: 400;
  color: #d5d7d9;
}
.top-bar__form input:-ms-input-placeholder {
  font-family: 'Mulish', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #393535;
  font-weight: 400;
  color: #d5d7d9;
}
.top-bar__form input::-ms-input-placeholder {
  font-family: 'Mulish', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #393535;
  font-weight: 400;
  color: #d5d7d9;
}
.top-bar__form input::placeholder {
  font-family: 'Mulish', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #393535;
  font-weight: 400;
  color: #d5d7d9;
}
.top-bar__form input:focus {
  outline: none;
  border-color: #787272;
}
.top-bar__form input:focus + label {
  color: #787272;
}
.top-bar__form label {
  font-family: 'Mulish', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #393535;
  position: absolute;
  cursor: text;
  top: 50%;
  left: 1.5em;
  transform: translateY(-50%);
  color: #81ada7;
  transition: color 0.1s linear;
}
.top-bar__phone {
  font-family: 'Mulish', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #393535;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.top-bar__phone i {
  font-size: 2.5rem;
  color: #81ada7;
  transition: color 0.1s linear;
}
.top-bar__phone:hover,
.top-bar__phone:focus {
  outline: none;
}
.top-bar__phone:hover i,
.top-bar__phone:focus i {
  color: #787272;
}
.top-bar__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-bar__controls a {
  position: relative;
  font-family: 'Mulish', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #393535;
  font-size: 2.5rem;
  color: #81ada7;
  margin-left: 1em;
  transition: color 0.1s linear;
}
.top-bar__controls a:first-child {
  margin-left: 0;
}
.top-bar__controls a:hover,
.top-bar__controls a:focus {
  outline: none;
  color: #787272;
}
.top-bar__controls a::after {
  content: "3";
  display: block;
  position: absolute;
  z-index: 1;
  top: -0.75em;
  right: -1em;
  padding: 0 0.4em;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 1.7em;
  color: #81ada7;
  background-color: #d5d7d9;
}
.bottom-bar {
  background-color: #81ada7;
}
.bottom-bar__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom-bar__link {
  display: block;
  padding: 0.75em 1em;
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #393535;
  color: #f0fdfa;
  text-decoration: none;
  transition: background-color 0.1s linear;
}
.bottom-bar__link:hover,
.bottom-bar__link:focus {
  outline: none;
  background-color: #787272;
}
.nav__toggler {
  position: relative;
  padding-left: calc(2em + 1em + .5em);
  display: block;
}
.nav__toggler span {
  position: absolute;
  left: calc(1em + 1em);
  top: 50%;
  z-index: 1;
  display: block;
  width: 1em;
  height: 2px;
  background-color: #f0fdfa;
}
.nav__toggler span::before,
.nav__toggler span::after {
  content: " ";
  display: block;
  width: 1em;
  height: 2px;
  background-color: #f0fdfa;
  z-index: 1;
}
.nav__toggler span::before {
  position: absolute;
  left: 0;
  top: -6px;
}
.nav__toggler span::after {
  position: absolute;
  left: 0;
  bottom: -6px;
}
.nav__collapse {
  position: absolute;
  bottom: 1px;
  left: 50%;
  z-index: 10;
  border-top: 1px solid #d5d7d9;
  transform: translate(-50%, 100%);
  background: #fff;
  width: 100%;
  height: 0;
  overflow-y: scroll;
  transition: height 0.2s linear;
  box-shadow: 0 10px 8px -8px #787272;
}
.nav__collapse.active {
  height: 80vh;
}
.nav__categories {
  border-right: 1px solid #d5d7d9;
  width: 30%;
  margin: 0;
  margin-top: 1.5em;
  padding: 0;
  list-style: none;
}
.nav__categories-item > a {
  font-family: 'Mulish', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #393535;
  transition: color 0.1s linear;
  text-decoration: none;
  display: block;
  padding: 0.5em 2em 0.5em 0;
  position: relative;
}
.nav__categories-item > a:hover {
  color: #81ada7;
}
.nav__categories-item > a > i {
  position: absolute;
  right: 2em;
  top: 50%;
  transform: translate(100%, -50%);
}
.nav__categories-item > a.active {
  color: #81ada7;
}
.nav__categories-item > a.active + ul {
  display: flex;
}
.nav__categories-item > ul {
  display: none;
  position: absolute;
  left: calc(30% + 30px / 2);
  top: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  width: calc(70% - 30px);
  flex-wrap: wrap;
}
.nav__categories-item > ul > li {
  width: 50%;
  padding: 1em;
}
.nav__categories-item > ul > li > a {
  font-family: 'Mulish', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #393535;
  font-weight: 400;
  transition: color 0.1s linear;
  text-decoration: none;
}
.nav__categories-item > ul > li > a:hover {
  color: #81ada7;
}
